/* line 1, ../css/style.css.scss */
body {
  padding: 30px 0; }

/* line 5, ../css/style.css.scss */
body.container {
  margin: 15px; }

/* line 9, ../css/style.css.scss */
header {
  margin-bottom: 20px;
  background-image: url("../images/header.png");
  height: 300px;
  box-shadow: 0px 5px 15px 0px rgba(100, 100, 100, 0.4); }

/* line 16, ../css/style.css.scss */
footer {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  height: 470px; }

/* line 43, ../css/style.css.scss */
h2 {
  background-image: url("../images/headline.png");
  background-repeat: no-repeat;
  color: #333;
  padding: 3px 5px; }

/* line 50, ../css/style.css.scss */
h3 {
  margin-top: 20px; }

/* line 54, ../css/style.css.scss */
p {
  margin-bottom: 20px; }

/* line 59, ../css/style.css.scss */
tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.5) !important; }

/* line 63, ../css/style.css.scss */
.shadow {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4); }

/* line 73, ../css/style.css.scss */
.about,
.courses,
.masters,
.archives,
.collaborators,
.sponsors,
.faqs {
  padding: 20px 0 20px 20px;
  background-image: url("../images/background.png");
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

/* line 83, ../css/style.css.scss */
.about {
  padding: 20px; }
  /* line 85, ../css/style.css.scss */
  .about .left-box {
    width: 49%;
    margin-right: 20px;
    float: left; }
  /* line 92, ../css/style.css.scss */
  .about .time-table .table {
    width: 45%;
    max-width: none; }
  /* line 97, ../css/style.css.scss */
  .about .submit-btn {
    width: 240px;
    height: 45px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #bbd2af;
    background-image: -o-linear-gradient(top, #bbd2af, #92b77e);
    background-image: -ms-linear-gradient(top, #bbd2af, #92b77e);
    background-image: -moz-linear-gradient(top, #bbd2af, #92b77e);
    background-image: -webkit-linear-gradient(top, #bbd2af, #92b77e);
    background-image: linear-gradient(top, #bbd2af, #92b77e);
    background-repeat: repeat-x; }
    /* line 37, ../css/style.css.scss */
    .about .submit-btn:hover {
      color: #fff;
      background-color: #92b77e; }

/* line 107, ../css/style.css.scss */
.courses .course {
  width: 31%;
  margin-right: 20px;
  float: left; }
  /* line 112, ../css/style.css.scss */
  .courses .course h3 {
    position: relative;
    padding-left: 70px;
    background-repeat: no-repeat;
    min-height: 70px;
    vertical-align: middle;
    line-height: 2.3em; }
    /* line 121, ../css/style.css.scss */
    .courses .course h3 img {
      position: absolute;
      left: 0; }

/* line 131, ../css/style.css.scss */
.masters .master,
.masters .calligrapher {
  position: relative;
  width: 47%;
  min-height: 170px;
  margin-right: 25px;
  margin-bottom: 10px;
  float: left; }
  /* line 139, ../css/style.css.scss */
  .masters .master .name,
  .masters .calligrapher .name {
    font-weight: bold; }
  /* line 143, ../css/style.css.scss */
  .masters .master .icon,
  .masters .calligrapher .icon {
    position: absolute; }
  /* line 147, ../css/style.css.scss */
  .masters .master ul,
  .masters .calligrapher ul {
    list-style: none;
    margin: 0; }
    /* line 151, ../css/style.css.scss */
    .masters .master ul li,
    .masters .calligrapher ul li {
      float: left; }
      /* line 155, ../css/style.css.scss */
      .masters .master ul li .link i,
      .masters .calligrapher ul li .link i {
        font-size: 120%; }
  /* line 162, ../css/style.css.scss */
  .masters .master .description,
  .masters .calligrapher .description {
    font-size: 80%; }
  /* line 168, ../css/style.css.scss */
  .masters .master ul,
  .masters .master .name,
  .masters .master .description,
  .masters .calligrapher ul,
  .masters .calligrapher .name,
  .masters .calligrapher .description {
    padding-left: 90px; }
/* line 173, ../css/style.css.scss */
.masters:last-child {
  min-height: 100px; }

/* line 178, ../css/style.css.scss */
.archives {
  font-size: 18px; }
  /* line 181, ../css/style.css.scss */
  .archives ul {
    list-style: none;
    margin: 0; }

/* line 189, ../css/style.css.scss */
.collaborators .calligrapher,
.collaborators .designer {
  float: left;
  width: 47%;
  position: relative;
  min-height: 100px;
  margin-right: 20px;
  margin-bottom: 10px; }
  /* line 197, ../css/style.css.scss */
  .collaborators .calligrapher .role,
  .collaborators .designer .role {
    font-weight: bold;
    font-size: 150%; }
  /* line 202, ../css/style.css.scss */
  .collaborators .calligrapher .name,
  .collaborators .designer .name {
    font-weight: bold; }
  /* line 206, ../css/style.css.scss */
  .collaborators .calligrapher .icon,
  .collaborators .designer .icon {
    position: absolute; }
  /* line 210, ../css/style.css.scss */
  .collaborators .calligrapher ul,
  .collaborators .designer ul {
    list-style: none;
    margin: 0; }
    /* line 214, ../css/style.css.scss */
    .collaborators .calligrapher ul li,
    .collaborators .designer ul li {
      float: left; }
      /* line 218, ../css/style.css.scss */
      .collaborators .calligrapher ul li .link i,
      .collaborators .designer ul li .link i {
        font-size: 120%; }
  /* line 226, ../css/style.css.scss */
  .collaborators .calligrapher ul,
  .collaborators .calligrapher .name,
  .collaborators .designer ul,
  .collaborators .designer .name {
    padding-left: 90px; }

/* line 232, ../css/style.css.scss */
.calligrapher {
  float: left; }

/* line 236, ../css/style.css.scss */
.sponsors {
  display: flex;
  align-items: center; }
  /* line 241, ../css/style.css.scss */
  .sponsors .sponsor img {
    margin-right: 20px; }

/* line 248, ../css/style.css.scss */
.faqs .question {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 10px; }
/* line 254, ../css/style.css.scss */
.faqs .answer {
  font-size: 110%;
  margin-bottom: 15px; }

/* line 260, ../css/style.css.scss */
#venue {
  padding-bottom: 10px; }

/* line 264, ../css/style.css.scss */
#map {
  height: 300px; }

/* line 268, ../css/style.css.scss */
.deadline {
  font-size: 18px;
  margin: 5px 0;
  color: #B94A48; }

/* line 274, ../css/style.css.scss */
.logo-pixiv {
  width: 270px;
  padding: 20px; }

/* line 279, ../css/style.css.scss */
.logo-cookpad {
  width: 370px; }
