!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    %meta(property="og:type"        content="website" )
    %meta(property="og:url"         content="http://rails.terakoya.io/" )
    %meta(property="og:title"       content="Rails寺子屋" )
    %meta(property="og:site_name"   content="Rails寺子屋"  )
    %meta(property="og:description" content="Rails寺子屋はWebアプリを作るための強力なツール&quot;Ruby on Rails&quot;を使ってWebアプリ作りを実践しながら学ぶイベントです。"  )
    %meta(property="og:image"       content="http://rails.terakoya.io/src/assets/images/ogp_logo.png"  )
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title= "Rails寺子屋第2回"
    %link(href="/css/normalize.css" rel="stylesheet")
    %link(href="/css/main.css" rel="stylesheet")
    %link(href="/css/bootstrap.css" rel="stylesheet")
    %link(href="/css/font-awesome.css" rel="stylesheet")
    %link(href="/css/style.css" rel="stylesheet")

    %script{:src => "js/vendor/modernizr-2.6.1.min.js"}
  %body
    = yield
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
  %script(src="/js/vendor/jquery-1.8.0.min.js")
  %script(src="https://maps.google.com/maps/api/js?sensor=true")
  %script(src="/js/gmaps.js")
  %script(src="/js/app.js")
