body {
  padding: 30px 0;
}

body.container {
  margin: 15px;
}

header {
  margin-bottom: 20px;
  background-image: url("../images/header.png");
  height: 300px;
  box-shadow: 0px 5px 15px 0px rgba(100, 100, 100, 0.4);
}

footer {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  height: 470px;
}

@mixin btn-colored-with($color) {
  $to: $color;
  $from: lighten($color, 15%);

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

  background-color: $from;
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
  background-repeat: repeat-x;

  &:hover {
    color: #fff;
    background-color: $to;
  }
}

h2 {
  background-image: url("../images/headline.png");
  background-repeat: no-repeat;
  color: #333;
  padding: 3px 5px;
}

h3 {
  margin-top: 20px;
}

p {
  margin-bottom: 20px;
}


tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.shadow {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
}

.about,
.courses,
.masters,
.archives,
.collaborators,
.sponsors,
.faqs {
  padding: 20px 0 20px 20px;
  background-image: url("../images/background.png");
  margin-bottom: 30px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.about {
  padding: 20px;
  .left-box {
    width: 49%;
    margin-right: 20px;
    float: left;
  }

  .time-table {
    .table {
      width: 45%;
      max-width: none;
    }
  }
  .submit-btn {
    width: 240px;
    height: 45px;
    font-size: 20px;
    @include btn-colored-with(#92b77e);
  }

}

.courses {
  .course {
    width: 31%;
    margin-right: 20px;
    float: left;

    h3 {
      position: relative;
      padding-left: 70px;
      background-repeat: no-repeat;
      min-height: 70px;
      vertical-align: middle;
      line-height: 2.3em;


      img {
        position: absolute;
        left: 0;
      }
    }
  }
}

.masters {
  .master,
  .calligrapher {
    position: relative;
    width: 47%;
    min-height: 170px;
    margin-right: 25px;
    margin-bottom: 10px;
    float: left;

    .name {
      font-weight: bold;
    }

    .icon {
      position: absolute;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        float: left;

        .link {
          i {
            font-size: 120%;
          }
        }
      }
    }

    .description {
      font-size: 80%;
    }

    ul,
    .name,
    .description {
      padding-left: 90px;
    }
  }

  &:last-child {
    min-height: 100px;
  }
}

.archives {
  font-size: 18px;

  ul {
    list-style: none;
    margin: 0;
  }
}

.collaborators {
  .calligrapher,
  .designer {
    float: left;
    width: 47%;
    position: relative;
    min-height: 100px;
    margin-right: 20px;
    margin-bottom: 10px;

    .role{
      font-weight: bold;
      font-size: 150%;
    }

    .name {
      font-weight: bold;
    }

    .icon {
      position: absolute;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        float: left;

        .link {
          i {
            font-size: 120%;
          }
        }
      }
    }

    ul,
    .name {
      padding-left: 90px;
    }
  }
}

.calligrapher {
  float: left;
}

.sponsors {
  .sponsor {
    img {
      margin-right: 20px;
    }
  }
}

.faqs {
  .question {
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 10px;
  }

  .answer {
    font-size: 110%;
    margin-bottom: 15px;
  }
}

#venue {
  padding-bottom: 10px;
}

#map {
  height: 300px;
}

.deadline {
  font-size: 18px;
  margin: 5px 0;
  color: #B94A48;
}

.logo-pixiv {
  width: 270px;
  padding: 20px;
}

.logo-cookpad {
  width: 370px;
}
