!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes")
    %title= "Rails寺子屋"
    %link(href="src/assets/bootstrap/css/bootstrap.css" rel="stylesheet")
    %link(href="src/assets/fontawesome/css/font-awesome.css" rel="stylesheet")
    %link(href="style.css" rel="stylesheet")
    %meta(property="og:type"        content="website" )
    %meta(property="og:url"         content="http://rails.terakoya.io/" )
    %meta(property="og:title"       content="Rails寺子屋" )
    %meta(property="og:site_name"   content="Rails寺子屋"  )
    %meta(property="og:description" content="Rails寺子屋はWebアプリを作るための強力なツール&quot;Ruby on Rails&quot;を使ってWebアプリ作りを実践しながら学ぶイベントです。"  )
    %meta(property="og:image"       content="http://rails.terakoya.io/src/assets/images/ogp_logo.png"  )

  %body
    %header
      .container
        %h1.logo
        %img( src="src/assets/images/logo.png" )

    .container
      .content
        %h2
          Rails寺子屋 x Kosenconfについて
        .about.clearfix
          %h3
            趣意書
          %p
            Rails寺子屋はWebアプリを作るための強力なツール"Ruby on Rails"を使ってWebアプリ作りを実践しながら学ぶイベントです。日頃からRailsを使って開発している師範（コーチ）と、ほかの参加者のみなさんと、一緒にWebアプリ作りをはじめてみませんか。
            %br
            本イベントはRails寺子屋と
            %a( href="http://kosenconf.jp/" )
              高専カンファレンス
            の合同イベントです。
          .left-box
            %h4
              日時
            %p
              2013/3/23(土) 10:00 開始予定
            %h4
              参加対象者
            %p
              高専学生 卒業生 教職員
            %h4
              会場
            #venue
              %address
                %a(href="http://www.optim.co.jp/")
                  %strong 株式会社オプティム
                %a(href="http://www.optim.co.jp/access") (アクセス)
                %br
                %span.address 東京都港区港南1丁目6−34 品川イースト1階 (受付)
                %br
                %span 最寄り駅: JR品川駅
            #map
          .right-box.clearfix
            %h4
              参加登録
            %p
              %a.btn.btn-large.btn-primary( href="https://docs.google.com/spreadsheet/viewform?formkey=dGc2RmRwWk43ZjZlNWl4Xy1PVXRrNVE6MQ" ) 門を叩く
              .deadline 応募締め切り: 2013/1/31(木) 23:59
            %h4
              時間割
            .time-table
              未定（午前10時頃から夕方まで、その後は懇親会の予定で検討中です。）
              /%table.table.table-striped
              /  %tr
              /    %td
              /      10:00
              /    %td
              /      開始

        %h2
          コースについて
        .courses.clearfix
          .course
            %h3
              %img( src="src/assets/images/tsubomi.png" class="shadow tsubomi" )
              蕾組
            %description
              Rails未経験者向けのコースです。Rubyやその他の言語でのプログラミング経験は問いません。Railsでかんたんなアプリを作ります。
          .course
            %h3
              %img( src="src/assets/images/hana.png" class="shadow hana" )
              華組
            %description
              Rails経験者向けのコースです。Rails の技量を高めたい方のコースです。コーチと一緒に課題となるRailsアプリを考え、作ります。
          .course
            %h3
              %img( src="src/assets/images/hikari.png" class="shadow hikari" )
              光組
            %description
              教職員向けのコースです。内容は蕾組と同程度を予定しています。

        %h2
          師範(コーチ)
        .masters.clearfix
          .master
            .icon
              %img( src="https://si0.twimg.com/profile_images/2775085674/aacc6da0f43115bb2e60878e10a92377.jpeg" width="75" class="shadow" )
            .name
              五十嵐 邦明 @igaiga555
            %ul.clearfix
              %li
                %a( href="http://twitter.com/igaiga555" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/kuniaki.igarashi" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/igaiga" class="link" )
                  %i.icon-github

            .description
              株式会社万葉のrailsエンジニア。群馬高専卒業。一橋大学非常勤講師(ruby, rails)。著書に「スタートアップruby」。tokyu.rb, asakusa.rb所属。高専カンファレンス014東京実行委員長。em高専カンファレンスvol.1編集長。

          .master
            .icon
              %img( src="https://si0.twimg.com/profile_images/2492166253/pufry2sqh7y0zw1c3u1b.jpeg" width="75" class="shadow" )
            .name
              村田 賢太 @mrkn
            %ul.clearfix
              %li
                %a( href="http://twitter.com/mrkn" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/mrkn720" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/mrkn" class="link" )
                  %i.icon-github
            .description
              苫小牧高専情報工学科および旭川高専専攻科生産システム工学専攻を卒業後、北海道大学大学院情報科学研究科にて複雑ネットワークと同期現象の研究に従事し、2009年に学位を取得。その後札幌市内の医療系ベンチャー企業に就職し、システムエンジニアとして日々を過ごす。2010年2月、CRuby のコミッタに就任。2011年12月、クックパッド株式会社へ転職。現在、クックパッドの開発基盤エンジニアとして、毎日の料理を楽しくし心からの笑顔を世界中に広げるために働いている。

          .master
            .icon
              %img( src="https://si0.twimg.com/profile_images/2942332207/dd1501287df208056e6edb8b1514b84a.jpeg" width="75" class="shadow" )
            .name
              大和田 純 @june29
            %ul.clearfix
              %li
                %a( href="http://twitter.com/june29" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/june29.jp" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/june29" class="link" )
                  %i.icon-github
              %li
                %a( href="http://june29.jp" class="link" )
                  %i.icon-home
            .description
              釧路高専情報工学科卒業。北海道生まれ少年漫画育ちのWebアプリケーション開発者。Ruby札幌に出会ってからは、日常の中で愛用する手になじむ道具としてRubyを選び続けている。「RubyKaigi」や「高専カンファレンス」の運営に関わったり、雑誌「WEB+DB PRESS」の連載をしたりと、源氏名「june29」で活動中。尊敬する人物は荒木飛呂彦先生。

          .master
            .icon
              %img( src="https://si0.twimg.com/profile_images/1465459377/5494314_707716410.jpg" width="75" class="shadow" )
            .name
              西嶋 悠貴 @yuki24
            %ul.clearfix
              %li
                %a( href="http://twitter.com/yuki24" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/yuki24" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/yuki24" class="link" )
                  %i.icon-github
            .description
              木更津高専情報工学科卒業。これまで、Ruby on Rails や Kaminari 等 Ruby で書かれたものをはじめ、多くのオープンソースプロジェクトへ貢献。高専時代は大の英語嫌いだったが、フィリピンに1年程滞在する過程で克服。

          .master
            .icon
              %img( src="https://si0.twimg.com/profile_images/3082568461/b1467e012995dfc062ddae096e02de12.png" width="75" class="shadow" )
            .name
              佐々木 佳祐 @RooandQoo
            %ul.clearfix
              %li
                %a( href="http://twitter.com/rooandqoo" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/rooandqoo" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/rooandqoo" class="link" )
                  %i.icon-github
            .description
              釧路高専 20期情報工学科卒業。電気通信大学の院に通いつつピクシブ株式会社にてアルバイトに勤しむ。普段はAndroidのアプリケーション開発をしていて、Ruby/Railsは目下勉強中。高専カンファレンスを始めとした楽しい催し物とクラブミュージックが好き。

          .master
            .icon
              %img( src="https://si0.twimg.com/profile_images/328365018/3411179234_d31d01f498_b.jpg" width="75" class="shadow" )
            .name
              三浦 彩 @mitaku
            %ul.clearfix
              %li
                %a( href="http://twitter.com/mitaku" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/takumi.miura.9" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/mitaku" class="link" )
                  %i.icon-github
            .description
              株式会社オプティムのRailsエバンジェリスト。高専カンファレンスなどの開催をしている。雨が嫌いで、怠け者。Rubyで素数を数えて落ち着く。

          .master.last
            .icon
              %img( src="https://si0.twimg.com/profile_images/1489032359/__________2011-08-11_9.48.06.png" width="75" class="shadow" )
            .name
              藤原 裕也 @asonas
            %ul.clearfix
              %li
                %a( href="http://twitter.com/asonas" class="link" )
                  %i.icon-twitter
              %li
                %a( href="http://facebook.com/asonas.P" class="link" )
                  %i.icon-facebook
              %li
                %a( href="http://github.com/asonas" class="link" )
                  %i.icon-github
              %li
                %a( href="http://asonas.jp" class="link" )
                  %i.icon-home
            .description
              津山工業高等専門学校 電気電子工学科を修了後、武蔵野美術大学の通信学部に通いデザインを学ぶ。2010年に京都で行われた高専カンファレンスに感化され、今はスタートアップ系Web男子として日々を邁進。高専カンファレンスやTech系勉強会などによく出現する。

        %h2
          助っ人
        .collaborators.clearfix
          .calligrapher
            %span.role
              題字
            .icon
              %img( src="https://si0.twimg.com/profile_images/1720785107/my_bigger.png" width="75" class="shadow" )
            .name
              さいとうかずよし
            %ul.clearfix
              %li
                %a( href="http://twitter.com/kazuyoshi" class="link" )
                  %i.icon-twitter
          .designer
            %span.role
              絵師
            .icon
              %img( src="http://a0.twimg.com/profile_images/3049823344/b89478d5d99dbaee208000b505c5677c.png" width="75" class="shadow" )
            .name
              あらなぎ
            %ul.clearfix
              %li
                %a( href="http://twitter.com/aranagi" class="link" )
                  %i.icon-twitter

        %h2
          よくある質問
        .faqs
          .question
            Q. 参加費はどのくらいかかりますか？
          .answer
            A. 無料です。申し込むときにはわくわくした気持ちだけあればいいです。
          .question
            Q. 当日までにやっておくと良いことはありますか？
          .answer
            A. 特にありません。当日、忘れ物をしないようにして下さい！
          .question
            Q. プログラミングの経験があります。手伝うことはできますか？
          .answer
            A. Rails寺子屋は師範になれる人を捜しています。いずれかの師範までご連絡ください。

      %footer
        %span
  %script(src="src/assets/jquery-1.8.3.min.js")
  %script(src="src/assets/bootstrap/js/bootstrap.min.js")
  %script(src="https://maps.google.com/maps/api/js?sensor=true")
  %script(src="src/assets/gmaps.js")
  %script(src="src/assets/app.js")
