!!! 5
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no")
    %title= "Rails寺子屋"
    %link(href="src/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    %link(href="style.css" rel="stylesheet")
    %meta(property="og:type"        content="website" )
    %meta(property="og:url"         content="http://rails.terakoya.io/" )
    %meta(property="og:title"       content="Rails寺子屋" )
    %meta(property="og:site_name"   content="Rails寺子屋"  )
    %meta(property="og:description" content="Rails寺子屋はWebアプリを作るための強力なツール&quot;Ruby on Rails&quot;を使ってWebアプリ作りを実践しながら学ぶイベントです。"  )
    %meta(property="og:image"       content="http://rails.terakoya.io/src/assets/images/ogp_logo.png"  )

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/")
            Rails寺子屋

    .container
      .content
        .row
          %img( src="src/assets/images/logo.jpg" )
        .row
          .span12
            %h2
              Rails寺子屋とは
            %p
              Rails寺子屋はWebアプリを作るための強力なツール"Ruby on Rails"を使ってWebアプリ作りを実践しながら学ぶイベントです。日頃からRailsを使って開発している師範（コーチ）と、ほかの参加者のみなさんと、一緒にWebアプリ作りをはじめてみませんか。
        .row
          .span6
            %h3
              Rails寺子屋 x 高専カンファレンス

            %h3
              日時
            2013/3/23(土) 10:00 開始予定

            %h3
              会場
            未定(東京近郊)

            -#%address
              %strong Twitter, Inc.
              %br
              795 Folsom Ave, Suite 600
              %br
              San Francisco, CA 94107
              %br
              %abbr{:title => "Phone"} P:
              (123) 456-7890

            -# #map .

            %h3
              時間割
            未定
            -# %table.table.table-bordered.table-striped
              %tbody
                %tr
                  %th
                    Foo.
                  %td
                    Bar.

            %h3
              参加対象者
            高専学生、卒業生、教職員

          .span6
            %h3
              参加登録
            %button.btn.btn-large.btn-primary.disabled{type: "button"} 門を叩く
            %span.muted (準備中)
            %br/

            %h3
              よくある質問
            %h5 参加費はどのくらいかかりますか？
            無料です。申し込むときにはわくわくした気持ちだけあればいいです。

            %h5 当日までにやっておくと良いことはありますか？
            特にありません。当日、忘れ物をしないようにして下さい！

            %h5 プログラミングの経験があります。手伝うことはできますか？
            Rails寺子屋は師範になれる人を捜しています。いずれかの師範までご連絡ください。

            %h3
              師範
            .row
              .span3
                %h4 五十嵐 邦明
                %a{href: "https://twitter.com/igaiga555"} @igaiga555

                %h4 大和田 純
                %a{href: "https://twitter.com/june29"} @june29

                %h4 佐々木 佳祐
                %a{href: "https://twitter.com/RooandQoo"} @RooandQoo

                %h4 西嶋 悠貴
                %a{href: "https://twitter.com/yuki24"} @yuki24

              .span3
                %h4 藤原 裕也
                %a{href: "https://twitter.com/asonas"} @asonas

                %h4 三浦 彩
                %a{href: "https://twitter.com/mitaku"} @mitaku

                %h4 村田 賢太
                %a{href: "https://twitter.com/mrkn"} @mrkn

            %h3
              題字
            .row
              .span3
                %h4 さいとう かずよし
                %a{href: "https://twitter.com/kazuyoshi"} @kazuyoshi

      %footer
        %span
  %script(src="src/assets/jquery-1.8.3.min.js")
  %script(src="src/assets/bootstrap/js/bootstrap.min.js")
  -# %script(src="https://maps.google.com/maps/api/js?sensor=true")
  -# %script(src="src/assets/gmaps.js")
  -# %script(src="src/assets/app.js")
